
.TextMe,.getintouch{
    text-align: center;
    background-color: rgb(232, 170, 93);
    position: absolute;
    height: 55%;
    width: 40%;
    left: 54%;
    top: 20%;
    border-radius: 10px;
    box-shadow: 1px 2px 1px 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.textarea{
    height: 30px;
    box-shadow: 1px 1px 1px 1px;
    margin-top: 20px;
}
.phone{
    font-size: 60px;
    margin-bottom: 7px;
}
.contact-image{
    /* opacity: 50%; */
    height: 100%;
    width: 100%;
}
.msg-send{
    cursor: pointer;
    margin-top: 10px;
    border-radius: 8px;
    background-color: black;
    color: white;
    height: 35px;
    width: 100px;
}
.getintouch{
    left: 4%;
    text-align: left;
}
.getintouch-in{
    margin-left: 15px;
}
.type-message{
    height: 30%;
    max-width: 30%;
}