*{
    margin: 0px;
}
.navbar{
    background-color: rgb(231, 158, 62);
    height: 40px;
    position: sticky;
    border-radius: 6px;
    text-align: right;
    padding-top: 16px;
    padding-right: 15px;
    top: 0px;
    z-index: 1;
}
.nav-btn{
   font-size: 18px;
   text-decoration: none;
   color: white;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   padding-left: 20px;
}
.image{
    height: 69%;
    width:47%;
    border-radius: 100%;
  position: absolute;

  right: 28%;
  top: 6%;
}
.bg-photo{
   height: 100%;
   width: 100%;
    opacity: 75%;
}
h1{
    color: white;
    position: absolute;
    top: 58%;
    left: 33%;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}h4{
    color: white;
    position: absolute;
    top: 69%;
    left: 34%;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.home-btn1{
    background-image: radial-gradient(circle farthest-side, #f0cb6b, rgb(231, 158, 62));
    position: absolute;
    top: 85%;
    right: 52%;
    height: 40px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;

}
.home-btn1:hover{
    background-image: radial-gradient(circle farthest-side, #ebd256, rgb(216, 124, 53));
    transform: scale(1.1)
}


.home-btn2{
    background-image: radial-gradient(circle farthest-side, #f0cb6b, rgb(231, 158, 62));
    position: absolute;
    top: 85%;
    right: 44%;
    height: 40px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}
.home-btn2:hover{
    background-image: radial-gradient(circle farthest-side, #ebd256, rgb(216, 124, 53));
    transform: scale(1.1)
}

/* socialmedia icons */
.icons{
    position: absolute;
    top: 40%;
    left: 95%;
    display: flex;
    flex-direction: column;
   
}
.social-media{
    height: 50px;
    width: 50px;
    font-size: 30px;
    margin-bottom: 8px;
    border-radius: 11px;
    cursor: pointer;
    transition: 0.2s;
    
}
.social-media:hover{
    background-color: rgb(231, 158, 62);
    transform: scale(1.1)
}
